[submodule "government-ui"]
	path = government-ui
	url = git@github.com:thecardeaproject/cardea-enterprise-government-ui.git
[submodule "government-api"]
	path = government-api
	url = git@github.com:thecardeaproject/cardea-enterprise-government-controller.git
[submodule "lab-ui"]
	path = lab-ui
	url = git@github.com:thecardeaproject/cardea-enterprise-health-ui.git
[submodule "lab-api"]
	path = lab-api
	url = git@github.com:thecardeaproject/cardea-enterprise-health-controller.git
[submodule "wait-for-it"]
	path = wait-for-it
	url = https://github.com/vishnubob/wait-for-it.git
[submodule "verifier-api"]
	path = verifier-api
	url = git@github.com:thecardeaproject/cardea-enterprise-verifier-controller.git
[submodule "verifier-ui"]
	path = verifier-ui
	url = git@github.com:thecardeaproject/cardea-enterprise-verifier-ui.git
