[submodule "primary-verifier-ui"]
	path = primary-verifier-ui
	url = git@github.com:thecardeaproject/cardea-primary-verifier-ui.git
[submodule "primary-verifier-api"]
	path = primary-verifier-api
	url = git@github.com:thecardeaproject/cardea-primary-verifier-controller.git
[submodule "health-issuer-ui"]
	path = health-issuer-ui
	url = git@github.com:thecardeaproject/cardea-health-issuer-ui.git
[submodule "health-issuer-api"]
	path = health-issuer-api
	url = git@github.com:thecardeaproject/cardea-health-issuer-controller.git
[submodule "wait-for-it"]
	path = wait-for-it
	url = https://github.com/vishnubob/wait-for-it.git
[submodule "secondary-verifier-api"]
	path = secondary-verifier-api
	url = git@github.com:thecardeaproject/cardea-enterprise-verifier-controller.git
[submodule "secondary-verifier-ui"]
	path = secondary-verifier-ui
	url = git@github.com:thecardeaproject/cardea-enterprise-verifier-ui.git
